.tab-container {
}
.tab-btn {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 2px;
  margin-right: 10px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: #7b8794;
  cursor: pointer;
}
.active-tab-btn {
  border-bottom: 3px solid #0b69ff;
  color: #0b69ff;
  font-size: 20px;
  font-weight: bold;
}
