.img {
  height: 100px;
  width: 100px;
}
.app-name {
  font-family: bree serif;
  font-weight: bold;
  color: #1e293b;
}
.app-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 150px;
  padding: 15px;
}
